{% extends "courses/course_dashboard.html" %}
{% block dashboard_content %}
<div class="well">
    <h2>{{ announcement.title }}</h2>
    {{announcement.content|linebreaks }}
</div>
<div class="well">
    <h4 id="comments">
        Comments
        <a class="fright" href="#add_comment">Comment</a>
    </h4>
    <hr />
    {% for comment in announcement.comments.all %}
    <p>
        <strong>{{ comment.user }}</strong> said at {{ comment.created_at|timesince }} ago: <br />
        {{ comment.comment|linebreaksbr }}
    </p>
    <hr>
    {% empty %}
    <p>
        No comments available.
    </p>
    {% endfor %}
</div>
{% endblock %}